<form action={{action}} method="POST" class="create-review-form">
    <label for="title">Title:</label>
    <input id="title" aria-label="Title" type="text" name="reviewTitle" required="true" placeholder="Title" value={{reviewTitle}}>

    <label for="rating">Rating:</label>
    <input id="rating" aria-label="Rating" type="number" name="reviewRating" min="1" max="5" placeholder="Stars" required="true" value={{reviewRating}}>

    <label for="body">Review:</label>
    <textarea id="body" aria-label="Review" name="reviewBody" placeholder="Review" required="true">{{reviewBody}}</textarea>

    <button type="submit">Submit</button>
</form>