<ul id="results">
{{#each results}}
    <li>
        <a href="/movie/{{id}}">{{title}}</a>
    </li>
{{/each}}
</ul>

<!-- TMDb's terms of use require it be attributed within the application -->
<img src="https://www.themoviedb.org/assets/1/v4/logos/408x161-powered-by-rectangle-blue-10d3d41d2a0af9ebcb85f7fb62ffb6671c15ae8ea9bc82a2c6941f223143409e.png" alt="Powered by The Movie DB">