<form action="/movie/search" method="POST" class="search-form" id="search">
    <label for="input">Movie:</label>
    <input id="input" aria-label="Movie" type="text" name="query" placeholder="Movie" required="true"/>
    <button type="submit">Search</button>
</form>

<script src="/public/js/search.js"></script>